<div class="wrapper">
    <!-- <div class="sidebar" data-color="red" data-image="">
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
  </div>main-panel -->

    <div class="clearfix clsLandingPage" *ngIf="userDetail && isShowMenu">
        <div class="container">
            <h2> Welcome, {{userDetail.session_detail.full_name}} </h2>

            <div class="row clsFlex">
                <div class="col-sm-4" *ngIf="userDetail.session_detail.user_group_id === 1 || userDetail.session_detail.user_group_id === 5 || userDetail.session_detail.user_group_id === 8 || userDetail.session_detail.user_group_id === 9" (click)="switchMenu(1)">
                    <div class="clsInner">
                        <div class="clearfix">
                            <img src="../../../assets/img/new_img/manageCM.png" alt="">
                            <p> Manage Case Managers </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4" *ngIf="userDetail.session_detail.user_group_id === 1 || userDetail.session_detail.user_group_id === 6 || userDetail.session_detail.user_group_id === 8 || userDetail.session_detail.user_group_id === 10" (click)="switchMenu(2)">
                    <div class="clsInner">
                        <div class="clearfix">
                            <img src="../../../assets/img/new_img/manageCG.png" alt="">
                            <p> Manage Care Givers </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4" *ngIf="userDetail.session_detail.user_group_id === 1 || userDetail.session_detail.user_group_id === 7 || userDetail.session_detail.user_group_id === 9 || userDetail.session_detail.user_group_id === 10" (click)="switchMenu(3)">
                    <div class="clsInner">
                        <div class="clearfix">
                            <img src="../../../assets/img/new_img/manageClients.png" alt="">
                            <p> Manage Clients </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-panel-layout">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
    </div>

</div>