<div class="container">
    <div class="top-m30">
        <div class="row">
            <div class="col-sm-6">
                <div class="box-block">
                    <p><a href="#" target="_blank">Your<br>
                            Hcws & Client</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-block">
                    <p><a href="#" target="_blank">Your<br>
                            Facilities</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="top-m30">
        <p style="border-bottom: 1px solid #cccccc; text-align: center; font-size: 20px; line-height: 30px;">Your Hcws
            and client</p>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h4 class="box-title">Choose Center & Hcws</h4>
                <div class="box-block ">
<!-- loader -->
                    <ul class="list-unstyled dropdown location-list">
                        <li>
                            <a href="#" class="dropdown-toggle"  data-toggle="dropdown">ECRC - Santhome</a>
                            <ul class="list-unstyled sub-list dropdown-menu">
                                <li>
                                    <a href="#" target="_blank">HCW1</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">HCW2</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">HCW3</a>
                                </li>
                            </ul>   
                        </li>
                        <li>
                            <a href="#" href="#" class="dropdown-toggle"  data-toggle="dropdown">Shared Housing (urban)</a>
                            <ul class="list-unstyled sub-list dropdown-menu">
                                <li>
                                    <a href="#" target="_blank">HCW1</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">HCW2</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">HCW3</a>
                                </li>
                            </ul>   
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="top-m30">
        <p style="border-bottom: 1px solid #cccccc; text-align: center; font-size: 20px; line-height: 30px;">Your Hcws
            and client</p>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h4 class="box-title">ECRC - Santhome</h4>
                <div class="box-block">
<!-- loader -->
<img src="/assets/img/loader.gif">
  <!-- loader end -->      
                </div>
            </div>

        </div>
    </div>
    <div class="top-m30">
        <h4 class="box-title" style="font-size: 20px; text-align: center;">Client care</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="box-block">
                    <!-- loader -->
                    <img src="/assets/img/loader.gif">
                    <!-- loader end --> 
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading active" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Collapsible Group Item #1
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                    <ul class="list-unstyled client-list1">
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Client1</a>
                        </li>
                    </ul>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div style="padding:15px 15px 15px 0px;"><span style="color: #da4b50;">Client Detail on </span><input type="date" class="black-font" /></div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">CC</a></li>
                    <li><a data-toggle="tab" href="#menu1">MS</a></li>
                    <li><a data-toggle="tab" href="#menu2">Diet</a></li>
                    <li><a data-toggle="tab" href="#menu3">Med</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <!-- loader -->
                        <div>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Self-Care & Hygiene</label></td>
                            </tr>
                            <tr>
                                <td><label>Bathing</label></td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td><label>Grooming</label></td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td><label>Toilet Use</label></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><label>Meal Time</label></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><label>Menstrual Hygiene</label></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><label>Bed Hygiene</label></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                      <div *ngIf="mdScr">
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Scalp & Hair</label></td>
                            </tr>
                            <tr>
                                <td><label>Injury</label></td>
                                <td>{{mdScr.scalp_injury === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Pediculosis</label></td>
                                <td>{{mdScr.scalp_pediculosis === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Dandruff</label></td>
                                <td>{{mdScr.scalp_dandruff === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Alopecia</label></td>
                                <td>{{mdScr.scalp_alopecia === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Eyes</label></td>
                            </tr>
                            <tr>
                                <td><label>Stye</label></td>
                                <td>{{mdScr.eyes_stye === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Discharge</label></td>
                                <td>{{mdScr.eyes_discharge === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Redness</label></td>
                                <td>{{mdScr.eyes_redness === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Ears</label></td>
                            </tr>
                            <tr>
                                <td><label>Pain</label></td>
                                <td>{{mdScr.ears_pain === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Discharge</label></td>
                                <td>{{mdScr.ears_discharge === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Nose</label></td>
                            </tr>
                            <tr>
                                <td><label>Block</label></td>
                                <td>{{mdScr.nose_block === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Bleeding</label></td>
                                <td>{{mdScr.nose_bleeding === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Cold</label></td>
                                <td>{{mdScr.nose_cold === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Mouth</label></td>
                            </tr>
                            <tr>
                                <td><label>Bad Odor</label></td>
                                <td>{{mdScr.mouth_bo === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Dental Cariers</label></td>
                                <td>{{mdScr.mouth_dentalcarriers === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Ulcer</label></td>
                                <!-- <td>{{mdScr.mouth_gumbleed === 1 ? 'Yes' : 'No'}}</td> -->
                            </tr>
                            <tr>
                                <td><label>Gum Bleeding</label></td>
                                <td>{{mdScr.mouth_gumbleed === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Vomiting</label></td>
                                <td>{{mdScr.mouth_vomit === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Neck</label></td>
                            </tr>
                            <tr>
                                <td><label>Thyroid Gland Swelling</label></td>
                                <td>{{mdScr.neck_thyroidglandswelling === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Lymphadenitis</label></td>
                                <td>{{mdScr.neck_lymphadenitis === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Chest</label></td>
                            </tr>
                            <tr>
                                <td><label>Pain/Tenderness</label></td>
                                <td>{{mdScr.chest_tenderness === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Galactorrhea</label></td>
                                <td>{{mdScr.chest_galactorrhea === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Sore Nipple</label></td>
                                <td>{{mdScr.chest_sorenipple === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Cough</label></td>
                                <td>{{mdScr.chest_cough === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Wheezing</label></td>
                                <td>{{mdScr.chest_wheezing === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Abdomen</label></td>
                            </tr>
                            <tr>
                                <td><label>Pain/Tenderness</label></td>
                                <td>{{mdScr.abdomen_pain === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Distension</label></td>
                                <td>{{mdScr.abdomen_distension === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Diarrhea</label></td>
                                <td>{{mdScr.abdomen_diarrhea === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Contipation</label></td>
                                <td>{{mdScr.abdomen_constipation === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Extremities</label></td>
                            </tr>
                            <tr>
                                <td><label>Injury</label></td>
                                <td>{{mdScr.extremities_injury === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Wound</label></td>
                                <td>{{mdScr.extremities_wound === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Fracture</label></td>
                                <td>{{mdScr.extremities_fracture === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Skin</label></td>
                            </tr>
                            <tr>
                                <td><label>Discoloration</label></td>
                                <td>{{mdScr.skin_rashes === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Genitalia</label></td>
                            </tr>
                            <tr>
                                <td><label>Rashes</label></td>
                                <td>{{mdScr.genitals_rashes === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>White Discharge</label></td>
                                <td>{{mdScr.genitals_whitedischarge === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Menorrhagia</label></td>
                                <td>{{mdScr.genitals_menorrhagia === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Hospital</label></td>
                            </tr>
                            <tr>
                                <td><label>Hospital Emergencies</label></td>
                                <td>{{mdScr.hospital_emergencies === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                            <tr>
                                <td><label>Hospital Admission</label></td>
                                <td>{{mdScr.hospital_admission === 1 ? 'Yes' : 'No'}}</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Vital Signs</label></td>
                            </tr>
                            <tr>
                                <td><label>Temperature(F)</label></td>
                                <td>{{mdScr.vital_temperature}}</td>
                            </tr>
                            <tr>
                                <td><label>Pulse(BPM)</label></td>
                                <td>{{mdScr.vital_pulse}}</td>
                            </tr>
                            <tr>
                                <td><label>Respiration Rate</label></td>
                                <td>{{mdScr.vital_respiration}}</td>
                            </tr>
                            <tr>
                                <td><label>Blood Pressure</label></td>
                                <td>{{mdScr.vital_bp_sys}}</td>
                            </tr>
                            <tr>
                                <td><label>Weight(Kg)</label></td>
                                <td>{{mdScr.vital_weight}}</td>
                            </tr>
                            <tr>
                                <td><label>Start Date</label></td>
                                <td>{{mdScr.vital_period_start}}</td>
                            </tr>
                            <tr>
                                <td><label>End Date</label></td>
                                <td>{{mdScr.vital_period_end}}</td>
                            </tr>
                        </table>
                      </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Diet</label></td>
                            </tr>
                            <tr>
                                <td colspan="2">Regular</td>
                            </tr>
                        </table>
                    </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <div>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td colspan="2" class="text-center"><label>Medicines</label></td>
                            </tr>
                            <tr>
                                <td><label>Prescription Date</label></td>
                                <td>2020-08-27</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td><label>Breakfast Medication</label></td>
                                <td>500MG</td>
                                <td>1</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td><label>Lunch Medication</label></td>
                                <td>500MG</td>
                                <td>1</td>
                            </tr>
                        </table>
                        <table class="table-striped table-bordered table-hover table-data">
                            <tr>
                                <td><label>Dinner Medication</label></td>
                                <td>500MG</td>
                                <td>1</td>
                            </tr>
                        </table>
                        </div>
                      </div>
                  </div> 
            </div>
        </div>
    </div>
</div>


<form class="form-signin">
    <div class="text-center"><img src="/assets/img/tblogo_red.png"></div>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>   