.clsAction {
    min-width: 100px;
    li {
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        a {
            display: block;
            width: 20px;
            img {
                width: 100%;
            }
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.unstyled {
    padding: 0px;
    margin: 0px;
}

.form-horizontal .control-label {
    padding-top: 0px;
}