<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)"
            (selectedChange)="values = $event"></ngx-treeview>
            </div>
            <div class="col-md-8">
                <div class="panel-group">
                    <div class="panel panel-primary">
                    <div class="panel-heading">Client Detail on <input type="date" class="black-font"/></div>
                    <div class="panel-body">Panel Content</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
